﻿@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h3>Our Story</h3>
    <p>
        Welcome to Juniper Junction Distillery, where our enjoyment of creating
        extraordinary spirits and our commitment to quality and heritage meet. 
        Since the start of our adventure in 2023, we have dedicated ourselves 
        to crafting the best spirits using ingredients procured locally with tried
        and true techniques.
    </p>
    </div>