﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <br />
    <br />

    <div class="container row">
        <div class="col-12 text-center">
            <h2 class="text-primary text-center">Order Placed Successfully</h2>
            <br />  <br />
            <img src="~/img/Gin_logo.jpeg" width="25%" />
        </div>
        <h3 class="col-12 text-center style="color:darkred">
            <br />
            Thank you for shopping with us. Please Come Again<br />

        </h3>
    </div>
}